.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    outline: none;
  }
  
  .custom-select:focus {
    border-color: #007bff;
  }
  
  .custom-select option {
    padding: 8px;
    font-size: 14px;
  }  

  .gm-style-iw-chr {
    position: absolute;
    right: 0;
    z-index: 2;
  }

  .gm-style .gm-style-iw-tc::after {
    background-color: transparent;
  }

  .field-checkbox-list .form-check {
    margin-bottom: 0.5rem;
  }
  
  .radio-group {
    display: flex;
    justify-content: space-between;
  }
  
  .radio-group .form-check {
    flex: 0 0 50%;
    text-align: center;
  }
  
  .form-check-input {
    margin: 0;
  }
  
  .form-check-label {
    margin: 0;
  }

  div#employee-tbl_wrapper {
    height: 70vh;
    overflow: auto;
}
div#employee-tbl_wrapper table tr th{
    position: sticky;
    top: 0;
}
div#employee-tbl_wrapper table tr th:first-child{
 left: 0;
 z-index: 2;
}
div#employee-tbl_wrapper table tr th:nth-child(2) {
    left: 27px;
    z-index: 2;
}
div#employee-tbl_wrapper table tr th:nth-child(3) {
    left: 74px;
    z-index: 2;
}
div#employee-tbl_wrapper table tr th:nth-child(4) {
    left: 183px;
    z-index: 2;
}
div#employee-tbl_wrapper table tr td:first-child {
    width: 100px;
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #FFFFFF !important;
}
div#employee-tbl_wrapper table tr td:nth-child(2) {
    width: 100px;
    position: sticky;
    left: 27px;
	z-index: 1;
    background-color: #FFFFFF ! IMPORTANT;
}
div#employee-tbl_wrapper table tr td:nth-child(3) {
    width: 100px;
    position: sticky;
    left: 74px;
    background-color: #FFFFFF ! IMPORTANT;
}
div#employee-tbl_wrapper table tr td:nth-child(4) {
    width: 100px;
    position: sticky;
    left: 183px;
    background-color: #FFFFFF ! IMPORTANT;
}
div#employee-tbl_wrapper table tr th {
    z-index: 1;
}